# Sparks ML lib implementation on Bank Marketing dataset

In [2]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=ac1b340f445ca6a0873d90bcadeb46f407e27f5b1b3d765441e26c9a37440bf7
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("ML_lib").getOrCreate()

In [4]:
df = spark.read.csv('bank.csv')
df.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|_c0|        _c1|     _c2|      _c3|    _c4|    _c5|    _c6| _c7|    _c8|_c9| _c10|    _c11|    _c12| _c13|    _c14|    _c15|   _c16|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [5]:
labels = ['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous','poutcome','deposit']

In [6]:
df = df.toDF(*labels)

In [7]:
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

In [8]:
from pyspark.sql.functions import *
new_df = df.withColumn('age', col('age').cast('integer'))

In [9]:
new_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: string (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- campaign: string (nullable = true)
 |-- pdays: string (nullable = true)
 |-- previous: string (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

In [10]:
for i in ['age', 'balance', 'day', 'campaign', 'pdays','previous','duration']:
  new_df = new_df.withColumn(i, col(i).cast('integer'))

In [11]:
new_df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

In [12]:
new_df.show()

+----+-----------+--------+---------+-------+-------+-------+----+-------+----+-----+--------+--------+-----+--------+--------+-------+
| age|        job| marital|education|default|balance|housing|loan|contact| day|month|duration|campaign|pdays|previous|poutcome|deposit|
+----+-----------+--------+---------+-------+-------+-------+----+-------+----+-----+--------+--------+-----+--------+--------+-------+
|NULL|        job| marital|education|default|   NULL|housing|loan|contact|NULL|month|    NULL|    NULL| NULL|    NULL|poutcome|deposit|
|  59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|   5|  may|    1042|       1|   -1|       0| unknown|    yes|
|  56|     admin.| married|secondary|     no|     45|     no|  no|unknown|   5|  may|    1467|       1|   -1|       0| unknown|    yes|
|  41| technician| married|secondary|     no|   1270|    yes|  no|unknown|   5|  may|    1389|       1|   -1|       0| unknown|    yes|
|  55|   services| married|secondary|     no|   2476|    yes|  no|unknown|   5|  may|     579|       1|   -1|       0| unknown|    yes|
|  54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|   5|  may|     673|       2|   -1|       0| unknown|    yes|
|  42| management|  single| tertiary|     no|      0|    yes| yes|unknown|   5|  may|     562|       2|   -1|       0| unknown|    yes|
|  56| management| married| tertiary|     no|    830|    yes| yes|unknown|   6|  may|    1201|       1|   -1|       0| unknown|    yes|
|  60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|   6|  may|    1030|       1|   -1|       0| unknown|    yes|
|  37| technician| married|secondary|     no|      1|    yes|  no|unknown|   6|  may|     608|       1|   -1|       0| unknown|    yes|
|  28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|   6|  may|    1297|       3|   -1|       0| unknown|    yes|
|  38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|   7|  may|     786|       1|   -1|       0| unknown|    yes|
|  30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|   7|  may|    1574|       2|   -1|       0| unknown|    yes|
|  29| management| married| tertiary|     no|    199|    yes| yes|unknown|   7|  may|    1689|       4|   -1|       0| unknown|    yes|
|  46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|   7|  may|    1102|       2|   -1|       0| unknown|    yes|
|  31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|   8|  may|     943|       2|   -1|       0| unknown|    yes|
|  35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|   8|  may|    1084|       1|   -1|       0| unknown|    yes|
|  32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|   8|  may|     541|       3|   -1|       0| unknown|    yes|
|  49|   services| married|secondary|     no|     -8|    yes|  no|unknown|   8|  may|    1119|       1|   -1|       0| unknown|    yes|
|  41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|   8|  may|    1120|       2|   -1|       0| unknown|    yes|
+----+-----------+--------+---------+-------+-------+-------+----+-------+----+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [13]:
new_df.select([count(when( col(c).isNull() , c)).alias(c) for c in new_df.columns]).show()

+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|  1|  0|      0|        0|      0|      1|      0|   0|      0|  1|    0|       1|       1|    1|       1|       0|      0|
+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+

In [16]:
columns_to_check = ['age', 'balance', 'day', 'campaign', 'pdays', 'previous', 'duration']
new_df = new_df.dropna(subset=columns_to_check)

In [17]:
new_df.select([count(when( col(c).isNull() , c)).alias(c) for c in new_df.columns]).show()

+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|  0|  0|      0|        0|      0|      0|      0|   0|      0|  0|    0|       0|       0|    0|       0|       0|      0|
+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+

In [21]:
# Print distinct values for each column
for column in new_df.columns:
    distinct_values = new_df.select(column).distinct().rdd.flatMap(lambda x: x).collect()
    print(f"Distinct values in column '{column}': {distinct_values}")

Distinct values in column 'age': [31, 85, 65, 53, 78, 34, 81, 28, 76, 26, 27, 44, 22, 93, 47, 52, 86, 40, 20, 57, 54, 48, 19, 92, 64, 41, 43, 37, 61, 88, 72, 35, 59, 55, 23, 39, 49, 84, 87, 51, 69, 63, 77, 50, 45, 38, 82, 80, 25, 73, 24, 70, 62, 95, 29, 21, 60, 32, 90, 75, 56, 58, 33, 83, 68, 71, 42, 79, 30, 66, 46, 67, 18, 74, 36, 89]
Distinct values in column 'job': ['management', 'retired', 'unknown', 'self-employed', 'student', 'blue-collar', 'entrepreneur', 'admin.', 'technician', 'services', 'housemaid', 'unemployed']
Distinct values in column 'marital': ['divorced', 'married', 'single']
Distinct values in column 'education': ['unknown', 'tertiary', 'secondary', 'primary']
Distinct values in column 'default': ['no', 'yes']

In [22]:
#df.groupby('occupation').count().show()

In [ ]:
#df = df.fillna(" United-States", subset = ['country'])

In [ ]:
#df = df.fillna("Private", subset = ['workclass'])

In [ ]:
#df = df.fillna(" Prof-specialty", subset = ['occupation'])

In [24]:
df= new_df

In [25]:
df.select([count(when( col(c).isNull() , c)).alias(c) for c in df.columns]).show()

+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|job|marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|  0|  0|      0|        0|      0|      0|      0|   0|      0|  0|    0|       0|       0|    0|       0|       0|      0|
+---+---+-------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+

In [26]:
df.createOrReplaceTempView("bank")

In [33]:
df.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [27]:
result  = spark.sql("select * from bank where age = 22")

In [28]:
result.show()

+---+-----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job|marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
| 22|     admin.| single| tertiary|     no|    897|    yes|  no| cellular|  4|  feb|     133|       4|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|      0|     no|  no| cellular|  6|  feb|     229|       6|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|    381|     no|  no| cellular| 12|  feb|     227|       1|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|    107|     no|  no| cellular| 14|  apr|     125|       1|   -1|       0| unknown|    yes|
| 22|blue-collar| single|secondary|     no|    -51|    yes|  no| cellular| 15|  may|     859|       1|   -1|       0| unknown|    yes|
| 22|   services| single|secondary|     no|    344|    yes|  no| cellular| 18|  may|     347|       1|   -1|       0| unknown|    yes|
| 22|blue-collar| single|secondary|     no|    682|     no|  no| cellular|  5|  jun|     126|       2|   91|       1| success|    yes|
| 22|    student| single|  unknown|     no|    466|     no|  no| cellular| 30|  jun|     377|       1|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|    185|     no|  no| cellular|  8|  jul|     153|       1|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|    948|     no|  no|telephone| 18|  aug|     215|       1|  197|       2| failure|    yes|
| 22|    student| single| tertiary|     no|    691|     no|  no| cellular| 19|  aug|     338|       1|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|    144|     no|  no| cellular| 21|  aug|     116|       1|   -1|       0| unknown|    yes|
| 22|   services| single|secondary|     no|    129|     no|  no| cellular| 16|  oct|     258|       1|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|     23|     no|  no| cellular| 27|  oct|     137|       1|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|   1522|     no|  no| cellular| 30|  oct|     368|       2|   -1|       0| unknown|    yes|
| 22|    student| single| tertiary|     no|    691|     no|  no| cellular| 30|  nov|     260|       5|  103|       1| success|    yes|
| 22|    student| single|secondary|     no|    254|     no|  no| cellular| 13|  jan|     143|       2|   -1|       0| unknown|    yes|
| 22|    student| single|secondary|     no|    216|     no|  no| cellular|  8|  feb|     363|       1|  187|       1| success|    yes|
| 22|    student| single|  unknown|     no|   1215|     no|  no| cellular| 19|  feb|     145|       3|  192|       1| failure|    yes|
| 22|    student| single|secondary|     no|    948|     no|  no|telephone| 25|  feb|     169|       1|  191|       3| success|    yes|
+---+-----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [29]:
categorical_cols = ['job', 'education', 'marital', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']
numerical_cols = ['age', 'balance', 'day', 'campaign', 'pdays','previous','duration']
label = 'deposit'

In [30]:
from pyspark.ml.feature import StringIndexer, VectorAssembler, StandardScaler

In [31]:
def indexer(df, col):
  indexer = StringIndexer(inputCol = col , outputCol =f'{col}_indexed' , handleInvalid = 'keep')
  indexed = indexer.fit(df).transform(df)
  return indexed

In [32]:
for col in categorical_cols:
  index_df = indexer(new_df, col)
  new_df = index_df

In [ ]:
#new_df = indexer(new_df, 'country')

In [34]:
new_df.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+-----------+-----------------+---------------+---------------+---------------+------------+---------------+-------------+----------------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|job_indexed|education_indexed|marital_indexed|default_indexed|housing_indexed|loan_indexed|contact_indexed|month_indexed|poutcome_indexed|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+-----------+-----------------+---------------+---------------+---------------+------------+---------------+-------------+----------------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|        3.0|              0.0|            0.0|            0.0|            1.0|         0.0|            1.0|          0.0|             0.0|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|        3.0|              0.0|            0.0|            0.0|            0.0|         0.0|            1.0|          0.0|             0.0|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|        2.0|              0.0|            0.0|            0.0|            1.0|         0.0|            1.0|          0.0|             0.0|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|        4.0|              0.0|            0.0|            0.0|            1.0|         0.0|            1.0|          0.0|             0.0|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|        3.0|              1.0|            0.0|            0.0|            0.0|         0.0|            1.0|          0.0|             0.0|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|        0.0|              1.0|            1.0|            0.0|            1.0|         1.0|            1.0|          0.0|             0.0|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|        0.0|              1.0|            0.0|            0.0|            1.0|         1.0|            1.0|          0.0|             0.0|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|        5.0|              0.0|            2.0|            0.0|            1.0|         0.0|            1.0|          0.0|             0.0|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|        2.0|              0.0|            0.0|            0.0|            1.0|         0.0|            1.0|          0.0|             0.0|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|        4.0|              0.0|            1.0|            0.0|            1.0|         0.0|            1.0|          0.0|             0.0|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|        3.0|              0.0|            1.0|            0.0|            1.0|         0.0|            1.0|          0.0|             0.0|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|        1.0|              0.0|            0.0|            0.0|            1.0|         0.0|            1.0|          0.0|             0.0|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|        0.0|              1.0|            0.0|            0.0|            1.0|         1.0|            1.0|          0.0|             0.0|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|        1.0|              1.0|            1.0|            0.0|            1.0|         0.0|            1.0|          0.0|             0.0|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|        2.0|              1.0|            1.0|            0.0|            1.0|         0.0|            1.0|          0.0|             0.0|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|        0.0|              1.0|            2.0|            0.0|            1.0|         0.0|            1.0|          0.0|             0.0|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|        1.0|              2.0|            1.0|            0.0|            1.0|         0.0|            1.0|          0.0|             0.0|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|        4.0|              0.0|            0.0|            0.0|            1.0|         0.0|            1.0|          0.0|             0.0|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|        3.0|              0.0|            0.0|            0.0|            1.0|         0.0|            1.0|          0.0|             0.0|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|        3.0|              0.0|            2.0|            0.0|            1.0|         1.0|            1.0|          0.0|             0.0|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+-----------+-----------------+---------------+---------------+---------------+------------+---------------+-------------+----------------+
only showing top 20 rows

In [35]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml import Pipeline

In [36]:
indexer = [StringIndexer(inputCol = c, outputCol = f'{c}_index', handleInvalid = 'keep') for c in categorical_cols]

In [37]:
assembler = VectorAssembler(inputCols = [f'{c}_index' for c in categorical_cols ] + numerical_cols, outputCol = 'features')

In [38]:
lr = LogisticRegression(featuresCol = 'features', labelCol = 'label')

In [43]:
label_indexer = StringIndexer(inputCol = 'deposit', outputCol = 'label', handleInvalid = 'keep')

In [44]:
pipeline = Pipeline(stages = indexer + [assembler , label_indexer, lr])

In [45]:
train_data , test_data = new_df.randomSplit([.8, .2])

In [46]:
model = pipeline.fit(train_data)

In [48]:
predication = model.transform(test_data)

In [49]:
predication.select('label', 'prediction').show()

+-----+----------+
|label|prediction|
+-----+----------+
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       0.0|
|  1.0|       1.0|
|  0.0|       1.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       0.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       1.0|
|  1.0|       0.0|
|  1.0|       1.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       1.0|
|  1.0|       0.0|
|  0.0|       1.0|
+-----+----------+
only showing top 20 rows

In [50]:
predication.groupby("label", 'prediction').count().show()

+-----+----------+-----+
|label|prediction|count|
+-----+----------+-----+
|  1.0|       1.0|  812|
|  0.0|       1.0|  198|
|  1.0|       0.0|  241|
|  0.0|       0.0|  966|
+-----+----------+-----+

In [51]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
evaluate = MulticlassClassificationEvaluator(predictionCol = 'prediction', labelCol = 'label', metricName = 'accuracy')

In [52]:
evaluate.evaluate(predication)

0.8019846639603068

In [53]:
predication.show()

+---+-----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+-----------+-----------------+---------------+---------------+---------------+------------+---------------+-------------+----------------+---------+---------------+-------------+-------------+-------------+----------+-------------+-----------+--------------+--------------------+-----+--------------------+--------------------+----------+
|age|        job|marital|education|default|balance|housing|loan|  contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|job_indexed|education_indexed|marital_indexed|default_indexed|housing_indexed|loan_indexed|contact_indexed|month_indexed|poutcome_indexed|job_index|education_index|marital_index|default_index|housing_index|loan_index|contact_index|month_index|poutcome_index|            features|label|       rawPrediction|         probability|prediction|
+---+-----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+-----------+-----------------+---------------+---------------+---------------+------------+---------------+-------------+----------------+---------+---------------+-------------+-------------+-------------+----------+-------------+-----------+--------------+--------------------+-----+--------------------+--------------------+----------+
| 18|    student| single|  primary|     no|    608|     no|  no| cellular| 13|  nov|     210|       1|   93|       1| success|    yes|        7.0|              2.0|            1.0|            0.0|            0.0|         0.0|            0.0|          4.0|             2.0|      7.0|            2.0|          1.0|          0.0|          0.0|       0.0|          0.0|        4.0|           2.0|[7.0,2.0,1.0,0.0,...|  1.0|[8.10700715271969...|[0.23552528444922...|       1.0|
| 18|    student| single|  unknown|     no|    108|     no|  no| cellular|  8|  sep|     169|       1|   -1|       0| unknown|    yes|        7.0|              3.0|            1.0|            0.0|            0.0|         0.0|            0.0|          9.0|             0.0|      7.0|            3.0|          1.0|          0.0|          0.0|       0.0|          0.0|        9.0|           0.0|[7.0,3.0,1.0,0.0,...|  1.0|[8.42265998013272...|[0.32363055334240...|       1.0|
| 18|    student| single|  unknown|     no|    108|     no|  no| cellular|  9|  feb|      92|       1|  183|       1| success|    yes|        7.0|              3.0|            1.0|            0.0|            0.0|         0.0|            0.0|          6.0|             2.0|      7.0|            3.0|          1.0|          0.0|          0.0|       0.0|          0.0|        6.0|           2.0|[7.0,3.0,1.0,0.0,...|  1.0|[8.39362820627073...|[0.27742120001200...|       1.0|
| 19|    student| single|  primary|     no|    103|     no|  no| cellular| 10|  jul|     104|       2|   -1|       0| unknown|    yes|        7.0|              2.0|            1.0|            0.0|            0.0|         0.0|            0.0|          2.0|             0.0|      7.0|            2.0|          1.0|          0.0|          0.0|       0.0|          0.0|        2.0|           0.0|[7.0,2.0,1.0,0.0,...|  1.0|[9.39386915716736...|[0.72951918340789...|       0.0|
| 19|    student| single|  primary|     no|    134|     no|  no| cellular| 27|  mar|     271|       2|   -1|       0| unknown|    yes|        7.0|              2.0|            1.0|            0.0|            0.0|         0.0|            0.0|         10.0|             0.0|      7.0|            2.0|          1.0|          0.0|          0.0|       0.0|          0.0|       10.0|           0.0|[7.0,2.0,1.0,0.0,...|  1.0|[7.97192295111037...|[0.23645042762553...|       1.0|
| 19|    student| single|secondary|     no|     55|     no|  no|telephone|  6|  oct|      89|       2|  193|       1|   other|     no|        7.0|              0.0|            1.0|            0.0|            0.0|         0.0|            2.0|          7.0|             3.0|      7.0|            0.0|          1.0|          0.0|          0.0|       0.0|          2.0|        7.0|           3.0|[7.0,0.0,1.0,0.0,...|  0.0|[8.07433629791640...|[0.28353114787150...|       1.0|
| 19|    student| single|secondary|     no|    394|     no|  no| cellular|  5|  apr|     327|       3|   -1|       0| unknown|    yes|        7.0|              0.0|            1.0|            0.0|            0.0|         0.0|            0.0|          5.0|             0.0|      7.0|            0.0|          1.0|          0.0|          0.0|       0.0|          0.0|        5.0|           0.0|(16,[0,2,7,9,10,1...|  1.0|[8.13956994062511...|[0.32460129908691...|       1.0|
| 20|blue-collar| single|secondary|     no|    423|    yes|  no| cellular| 16|  apr|     498|       1|   -1|       0| unknown|    yes|        1.0|              0.0|            1.0|            0.0|            1.0|         0.0|            0.0|          5.0|             0.0|      1.0|            0.0|          1.0|          0.0|          1.0|       0.0|          0.0|        5.0|           0.0|[1.0,0.0,1.0,0.0,...|  1.0|[7.93670850762014...|[0.34219191325129...|       1.0|
| 20|    student|married|  unknown|     no|    292|     no|  no| cellular|  5|  aug|     385|       2|   93|       1| failure|    yes|        7.0|              3.0|            0.0|            0.0|            0.0|         0.0|            0.0|          1.0|             1.0|      7.0|            3.0|          0.0|          0.0|          0.0|       0.0|          0.0|        1.0|           1.0|[7.0,3.0,0.0,0.0,...|  1.0|[8.11542434839655...|[0.31692756646793...|       1.0|
| 20|    student| single|  primary|     no|   6991|     no|  no| cellular| 12|  aug|     178|       2|   -1|       0| unknown|    yes|        7.0|              2.0|            1.0|            0.0|            0.0|         0.0|            0.0|          1.0|             0.0|      7.0|            2.0|          1.0|          0.0|          0.0|       0.0|          0.0|        1.0|           0.0|[7.0,2.0,1.0,0.0,...|  1.0|[9.09220682681313...|[0.64986164843107...|       0.0|
| 20|    student| single|secondary|     no|    215|     no|  no| cellular| 24|  feb|     175|       1|   92|       6| success|    yes|        7.0|              0.0|            1.0|            0.0|            0.0|         0.0|            0.0|          6.0|             2.0|      7.0|            0.0|          1.0|          0.0|          0.0|       0.0|          0.0|        6.0|           2.0|[7.0,0.0,1.0,0.0,...|  1.0|[8.04434858718125...|[0.20495965514101...|       1.0|
| 20|    student| single|secondary|     no|   1819|     no|  no| cellular|  9|  apr|     245|       3|   -1|       0| unknown|    yes|        7.0|              0.0|            1.0|            0.0|            0.0|         0.0|            0.0|          5.0|             0.0|      7.0|            0.0|          1.0|          0.0|          0.0|       0.0|          0.0|        5.0|           0.0|(16,[0,2,7,9,10,1...|  1.0|[8.45686096993666...|[0.42539194097038...|       1.0|
| 20|    student| single|  unknown|     no|    755|     no|  no| cellular| 29|  dec|     284|       1|   -1|       0| unknown|    yes|        7.0|              3.0|            1.0|            0.0|            0.0|         0.0|            0.0|         11.0|             0.0|      7.0|            3.0|          1.0|          0.0|          0.0|       0.0|          0.0|       11.0|           0.0|[7.0,3.0,1.0,0.0,...|  1.0|[7.83646102220783...|[0.18374364058059...|       1.0|
| 20|    student| single|  unknown|     no|    829|     no|  no| cellular|  9|  jul|     253|       2|   -1|       0| unknown|    yes|        7.0|              3.0|            1.0|            0.0|            0.0|         0.0|            0.0|          2.0|             0.0|      7.0|            3.0|          1.0|          0.0|          0.0|       0.0|          0.0|        2.0|           0.0|[7.0,3.0,1.0,0.0,...|  1.0|[8.79807742022434...|[0.54971192138907...|       0.0|
| 20|    student| single|  unknown|     no|   2785|     no|  no| cellular| 16|  sep|     327|       2|   -1|       0| unknown|    yes|        7.0|              3.0|            1.0|            0.0|            0.0|         0.0|            0.0|          9.0|             0.0|      7.0|            3.0|          1.0|          0.0|          0.0|       0.0|          0.0|        9.0|           0.0|[7.0,3.0,1.0,0.0,...|  1.0|[7.77314864910007...|[0.18840209571623...|       1.0|
| 21|blue-collar| single|secondary|     no|   2265|     no|  no| cellular| 27|  may|     156|       4|   99|       2| success|     no|        1.0|              0.0|            1.0|            0.0|            0.0|         0.0|            0.0|          0.0|             2.0|      1.0|            0.0|          1.0|          0.0|          0.0|       0.0|          0.0|        0.0|           2.0|[1.0,0.0,1.0,0.0,...|  0.0|[8.77014882004755...|[0.56729810134186...|       0.0|
| 21| management| single| tertiary|     no|    243|     no| yes| cellular| 17|  jun|     181|       2|   -1|       0| unknown|     no|        0.0|              1.0|            1.0|            0.0|            0.0|         1.0|            0.0|          3.0|             0.0|      0.0|            1.0|          1.0|          0.0|          0.0|       1.0|          0.0|        3.0|           0.0|[0.0,1.0,1.0,0.0,...|  0.0|[9.30124342488593...|[0.79745786717450...|       0.0|
| 21|   services| single|secondary|     no|    361|     no|  no|telephone|  5|  jun|     329|       1|   95|       1|   other|     no|        4.0|              0.0|            1.0|            0.0|            0.0|         0.0|            2.0|          3.0|             3.0|      4.0|            0.0|          1.0|          0.0|          0.0|       0.0|          2.0|        3.0|           3.0|[4.0,0.0,1.0,0.0,...|  0.0|[7.54556638787541...|[0.18571996967622...|       1.0|
| 21|    student| single|secondary|     no|    123|     no|  no|telephone| 12|  aug|     449|       1|   -1|       0| unknown|    yes|        7.0|              0.0|            1.0|            0.0|            0.0|         0.0|            2.0|          1.0|             0.0|      7.0|            0.0|          1.0|          0.0|          0.0|       0.0|          2.0|        1.0|           0.0|[7.0,0.0,1.0,0.0,...|  1.0|[8.29839536577115...|[0.51269842315777...|       0.0|
| 21|    student| single|secondary|     no|    357|     no|  no| cellular|  2|  sep|     115|       3|   -1|       0| unknown|     no|        7.0|              0.0|            1.0|            0.0|            0.0|         0.0|            0.0|          9.0|             0.0|      7.0|            0.0|          1.0|          0.0|          0.0|       0.0|          0.0|        9.0|           0.0|(16,[0,2,7,9,10,1...|  0.0|[8.55431508454404...|[0.40169821161185...|       1.0|
+---+-----------+-------+---------+-------+-------+-------+----+---------+---+-----+--------+--------+-----+--------+--------+-------+-----------+-----------------+---------------+---------------+---------------+------------+---------------+-------------+----------------+---------+---------------+-------------+-------------+-------------+----------+-------------+-----------+--------------+--------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows